body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.container {
  /* position: absolute;
  right: 20.5%;
  top: 15%; */
  background-color: transparent;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(1turn);
}

.exit-wrapper {
  padding: 10px;
}

#directions {
  padding: 10px;
}
/* #game-container canvas {
  width: 800px;
  height: 700px;
} */

/* #containerId {
  margin: 50px;
} */

button {
  background-color: #e92e3d;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 15px 0;
  width: 150px;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.hide {
  display: none;
}

.shake {
  animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
